<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://plasticcraic.files.wordpress.com/2020/08/aossquigs-jan8-header2mvbfr.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>GLOOMSPITE GITZ</h5>
          <p>Los Gloomspite Gitz son una tribu de goblins en el universo de Warhammer Age of Sigmar, conocidos por su comportamiento caótico y su adoración a la luna maligna</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="https://i.redd.it/i0lz2h6ewei81.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>LA LUNA MALIGNA</h5>
          <p>Esta luna oscura y ominosa se desplaza erráticamente por los cielos de los Reinos Mortales, sembrando caos y locura a su paso. Su resplandor enfermizo afecta a las criaturas y el entorno, causando mutaciones y un crecimiento descontrolado de hongos venenosos y alucinógenos.</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="https://i.ytimg.com/vi/TT9OkFcpfr8/maxresdefault.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>SKRAGROOT EL OBSERVADOR</h5>
          <p>Es el autoproclamado soberano de los Gloomspite Gitz, Su presencia siniestra hace que sus camaradas grots luchen con mas rencor y astucia que nunca</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>